# Dependencies
node_modules/

# Build output
dist/
src-tauri/target/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.so
venv/
ENV/

# PyInstaller 构建产物
parser-service/build/
parser-service/dist/

# 测试数据文件
bilibli.json
douyin.json
xiaohongshu.json

# Tauri
src-tauri/gen/schemas/
/build.bat
